.content-wrapper {
    display: flex;
    width: 100%;
}

.col-2 {
    flex: 0.3;
}

.col-8 {
    flex: 0.7;
}

.col-2, .col-8 {
    padding: 0 20px;
}

.line {
    height: 2px;
    width: 10%;
}

.title-wrapper {
    display: inline-grid;
    line-height: 35px;
}

.title-wrapper .name {
    font-size: 28px;
    font-weight: bold;
}

.section {
    font-size: 22px;
    font-weight: 500;
}

.line {
    height: 2px;
    width: 50%;
    background-color: var(--color-primary-200);
    margin: 2px 0 5px;
}

.content {
    font-size: 18px;
    padding: 10px 0;
}

.content p {
    text-align: left;
    margin-block-start: 0.3em;
    margin-block-end: 0.2em;
}

.content .info {
    padding: 5px 0;
}

.content .info span {
    display: block;
    font-size: 19px;
    line-height: 1.5;
}

.content .info .list {
    list-style: inherit;
    margin-left: 17px;
}

.content .info img {
    width: 25px;
    height: 25px;
    border-radius: 100%;
}

.content .info span.info-title {
    display: flex;
    align-items: center;
}

.content .info span.info-title img {
    margin-right: 5px;
}

.col-2 .content .info {
    display: flex;
}

.col-2 .content .info span {
    margin-left: 5px;;
}

.col-2 .content .info .item {
    display: block;
}

.col-2 .content .details .item span {
    display: block;
}

.col-2 .content .details .item {
    padding: 10px 0;
}

.col-2 .content .line {
    width: 100%;
}

/*tablets*/
@media (max-width:1125px) { 
    .content-wrapper {
        display: block;
    }

    .content-wrapper:first-child .col-2:first-child {
        text-align: center;
    }

    .col-2 .content .info {
        justify-content: center;
    }

    .col-2 .content .line {
        width: 50%;
    }

}

/*phone*/
@media (max-width:600px) {
    .col-2 .content .line , .col-8 .content .line {
        width: 100%;
    }
}